---
import Layout from "../layouts/Layout.astro";
---

<Layout title="A propos de nous" id="about">
  <div class="mb-4">
    Layouwe a été créer par 2 Bamileke passionnés par leur culture. Nous avons
    hâte de vous faire découvrir la beauté de nos traditions et de nos paysages.
  </div>

  <div class="mb-6">
    <h2 class="h2 font-bold">Notre vision du voyage</h2>
    <p>
      Chez Layouwe, nous croyons fermement que le voyage est bien plus qu'une
      simple escapade. C'est une porte ouverte vers de nouvelles cultures, une
      opportunité d'explorer de nouvelles destinations et de revenir chez soi
      avec un bagage enrichi d'expériences inoubliables. Chaque voyage est une
      occasion de voir le monde sous un nouvel angle, d'apprécier une beauté qui
      nous était jusque-là inconnue. Rejoignez-nous dans cette aventure sans
      fin, où chaque voyage est une promesse de découverte et d'enrichissement
      personnel.
    </p>
  </div>

  <div class="mb-6">
    <h2 class="h2 font-bold">Pour qui sont nos excursions ?</h2>
    <p>
      Nos excursions on ete pensé pour tous. Que vous soyez une famille, un
      couple, un groupe d'ami ou un entreprise ce sera un plaisir pour nous de
      vous accompagné durant votre séjour.
    </p>
  </div>
</Layout>
