---
import Layout from "../layouts/Layout.astro";
---

<Layout title="A propos de nous" id="about">
  <div class="mb-4">
    Layouwe a été créer par 2 Bamileke passionné par leur culture. Nous avons
    hâte de vous faire découvrir la beauté de nos traditions et de nos paysages.
  </div>

  <div>
    <h3 class="h3 font-bold">Notre vision du voyage</h3>
    <p>Le tourisme est un moyen de faire tourner l'économie locale</p>
  </div>
</Layout>
