---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="toutes nos offres" id="all-offers">
  <div>Toutes nos excursions</div>
</Layout>
