<div class="lg:w-2/3 text-center mx-auto">
  <h1
    class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
  >
    Découvrez la culture <span class="text-primary dark:text-white"
      >Bamileke</span
    >
  </h1>
  <p class="mt-8 text-gray-700 dark:text-gray-300">
    Embarquez pour une aventure inoubliable
  </p>
  <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
    <a
      href="/booking"
      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
    >
      <span class="relative text-base font-semibold text-white">Réserver</span>
    </a>
    <a
      href="#"
      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
    >
      <span
        class="relative text-base font-semibold text-primary dark:text-white"
        >Je veux en savoir plus</span
      >
    </a>
  </div>
  <div
    class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
  >
    <div class="text-left">
      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
        Une équipe de guides passionnés
      </h6>
    </div>
    <div class="text-left">
      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
        Immergez vous dans la culture Bamileke
      </h6>
    </div>
    <div class="text-left">
      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
        (Re)Découvrez la beauté du "Continent"
      </h6>
    </div>
  </div>
</div>
