---
import { Image } from "astro:assets";
import Container from "./Container.astro";
import Waterfall from "../assets/images/waterfall.png";
import Hiking from "../assets/images/hiking.png";
import Ndop from "../assets/images/ndop.png";
import More from "../assets/images/more.png";
---

<div id="services">
  <Container>
    <div>
      <h2
        class="my-5 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl"
      >
        Layouwe signifie "Que le monde m'entende"
      </h2>
      <p class="text-gray-600 dark:text-gray-300">
        Nous portons haut et fort les valeurs et la culture Bamileke
      </p>
    </div>
    <div
      class="mt-8 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <Image
            src={Waterfall}
            class="w-12"
            width="512"
            height="512"
            alt="Chute d'eau"
            loading="eager"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              La chute de la Mouankeu
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Un lieu magique au coeur de Bafang
            </p>
          </div>
          <a
            href="/mouankeu"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">En savoir plus</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <Image
            src={Hiking}
            class="w-12"
            width="512"
            height="512"
            alt="Montagne"
            loading="eager"
          />
          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Randonnée
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Marchez dans les hauteurs du hauts-nkam et profitez des vues
              époustouflantes
            </p>
          </div>
          <a
            href="/randonnee"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">En savoir plus</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <Image
            src={Ndop}
            class="w-12"
            width="512"
            height="512"
            alt="Tissus ndop"
            loading="eager"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Visite des chefferies
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Nous vous ferons découvrir les traditions et la royauté Bamileke
            </p>
          </div>
          <a
            href="/chefferie"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">En savoir plus</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800 h-full"
        >
          <Image
            src={More}
            class="w-12"
            width="512"
            height="512"
            alt="Voir plus"
            loading="eager"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Voir toutes nos excursions
            </h5>
          </div>
          <a
            href="all-offers"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">En savoir plus</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
