---
import { SEO } from "astro-seo";

import AppHeader from "../components/AppHeader.astro";
import AppFooter from "../components/AppFooter.astro";
import Container from "../components/Container.astro";

interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Imergez vous dans le monde Bamileke" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <SEO
      title={title}
      description="Redecouvrez le pays bamileke"
      openGraph={{
        basic: {
          title: "Layouwe",
          type: "website",
          image: "/layouwe.png",
        },
      }}
    />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <AppHeader />
    <main class="space-y-20 mb-40" id={id}>
      <Container>
        <div
          aria-hidden="true"
          class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 h-max"
        >
          <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
          >
          </div>
          <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
          >
          </div>
        </div>
        <div class="relative pt-36 ml-auto">
          <Container>
            <slot />
          </Container>
        </div>
      </Container>
    </main>
    <AppFooter />
    <style>
      html {
        font-family: Urbanist, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
      }
    </style>
  </body>
</html>
